{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Add User {% endblock %}

{% block body %}

        {{  parent() }}
<!-- Main content -->
<div class="content-wrapper">

            <!-- Content area -->
            <div class="content">

                <!-- Horizontal form -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">Add User</h5>
                    </div>

                    <div class="panel-body">
                        {% block form_spot %}{% endblock %}
                    </div>
                </div>
                <!-- /horizotal form -->

                {% include 'IndexBundle::footer.html.twig' %}

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

{% endblock %}